$accent: #F05F56;

.card {
  border: none;
  background-color: transparent;
  border-radius: 1rem;
  transition: box-shadow 0.5s ease-in-out;
  outline:none;
  cursor: pointer;

  .card-body {
    border-radius: 1rem;
    background-color: white;
    opacity: 0.7;
  }

  .title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    top: 1.5rem;
    right: 1.5rem;
    left: 1.5rem;
  }
  .icon {
    bottom: 1.5rem;
    left: 4rem;
    img {
      height: 3rem;
      width: 3rem;
    }
  }
}
.card:hover {
  box-shadow: 0 0 0 3px $accent;
}
